            {{#if productos.length}}
            <h2 class="titulo-prod">Tienda virtual de bebidas alcohólicas</h2>
            {{#each productos}}
            <div class="col-md-4">
            <div class="prod container">
                <div class="row">
                    <div class="col-md-6">
                        <img src={{this.foto}} alt={{this.nombre}}>
                    </div>
                    <div class="col-md-6 detalle-prod">
                        <h2>{{this.nombre}}</h2>
                        <h3><b>$ {{this.precio}}</b></h3>
                        <p>{{this.descripcion}}</p>
                        <p>Stock: {{this.stock}}</p>
                    </div>
                </div>
                <div class="row botones-card">
                    <button class="btn btn-dark" id={{this.id}} onclick="agregarAlCarrito({{this.id}})">Agregar al carrito</button>
                    <button class="btn btn-dark" id={{this.id}}>Actualizar</button>
                    <button class="btn btn-dark" id={{this.id}}>Eliminar</button>
                </div>
            </div>
            </div>
            {{/each}}
            {{else}}
            <div class="no-prod">
                <h2>No hay productos</h2>
            </div>
            {{/if}}